<h1>Articles</h1>
<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
<%= render "article"%>
<%= link_to "NEW Article", new_article_path %>
<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>